# base
.buildpath
.project
.settings/org.eclipse.php.core.prefs
logs
.buildpath
.project
.settings
applications/Wordpress/wp-config.php
tags

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.DS_Store
*~
*.swp
*.swo
*.dSYM
a.out

